@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary: #4F46E5;
  /* Indigo 600 */
  --color-secondary: #8B5CF6;
  /* Violet 500 */
  --color-background: #F8FAFC;
  /* Slate 50 */
  --color-surface: #FFFFFF;
}

body {
  background-color: var(--color-background);
  color: #1e293b;
  /* Slate 800 */
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}